* {
  font-family: Helvetica;
}

body {
  padding: 15px;
}

.hide {
  display: none;
}

a,
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.7;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

a:hover,
input[type="submit"]:hover {
  opacity: 1;
}

form {
  width: 300px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

form label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

form input,
form textarea {
  padding: 5px;
}
